#customer-chat-client .cc-chat-status {
  margin-top: 15px;
  margin-bottom: 15px;
}

#customer-chat-client .cc-chat-message .cc-chat-time {
  float: left;
  margin-right: 10px;
  color: #888;
}

#customer-chat-client .cc-chat-message .cc-chat-text {
  display: block;
  margin-left: 1em;
}

#customer-chat-client .cc-chat-message .cc-chat-name {
  font-weight: bold;
}

#customer-chat-client .cc-chat-input {
  margin-top: 20px;
}

#customer-chat-client .cc-text-input {
  display: inline-block;
  width: 75%;
  height: 1.2em;
  padding: 4px;
  margin-bottom: 1em;
}
