#customer-chat-dashboard .ccd-main-content {
  float: left;
  width: 74.99%;
  background-color: #e0e0d8;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#customer-chat-dashboard .ccd-text-input {
  display: inline-block;
  width: 75%;
  height: 1.2em;
  padding: 4px;
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: inherit;
}

#customer-chat-dashboard .ccd-send-button {
  font-size: inherit;
}

/* Sidebar */

#customer-chat-dashboard .ccd-sidebar {
  position: relative;
  float: left;
  width: 25%;
  background-color: #eee;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#customer-chat-dashboard .ccd-sidebar .ccd-status-indicator {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

#customer-chat-dashboard .ccd-sidebar .ccd-status-online {
   color: #9c5;
   border: 1px solid #9c5;
   background-color: #f8fff0;
}

#customer-chat-dashboard .ccd-sidebar .ccd-status-offline {
  color: #999;
  border: 1px solid #999;
}

#customer-chat-dashboard .ccd-sidebar .ccd-section {
  padding: 10px 0 10px 10px;
  border-right: 1px solid #ccc;
}

#customer-chat-dashboard .ccd-agent-info {
  margin-top: 10px;
}

#customer-chat-dashboard .ccd-tab {
  padding: 5px;
  margin-left: 5px;
}

#customer-chat-dashboard .ccd-tab a {
  color: #333;
  vertical-align: middle;
}

#customer-chat-dashboard .ccd-tab .ccd-new-message-icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  background-color: #ff6600;
  border-radius: 50%;
  vertical-align: middle;
}

#customer-chat-dashboard .ccd-tab.active .ccd-new-message-icon {
  background-color: #fff;
}

#customer-chat-dashboard .ccd-tab .ccd-new-message-icon.ccd-inactive {
  background-color: #999;
}

#customer-chat-dashboard .ccd-tab.active {
  background-color: #0074bd;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#customer-chat-dashboard .ccd-tab.active a {
  color: #fff;
}

/* Session list view */

#customer-chat-dashboard .ccd-session-list-view {
  padding: 10px;
}

/* Chat view */

#customer-chat-dashboard .ccd-chat-view {
  padding: 10px;
}

#customer-chat-dashboard .ccd-chat-view .cc-chat-buttons {
  margin-top: 15px;
  margin-bottom: 15px;
}

#customer-chat-dashboard .ccd-chat-view .ccd-chat-time {
  float: left;
  margin-right: 10px;
  color: #888;
}

#customer-chat-dashboard .ccd-chat-view .ccd-chat-text {
  display: block;
  margin-left: 1em;
}

#customer-chat-dashboard .ccd-chat-view .ccd-chat-name {
  font-weight: bold;
}

#customer-chat-dashboard .ccd-chat-input {
  margin-top: 20px;
}

/* Dashboard view */

#customer-chat-dashboard .ccd-dashboard-view {
  padding: 10px;
}

/* Loading indicator */

#customer-chat-dashboard .ccd-loading  {
  position: absolute;
  top: 5px;
  right: 10px;
}

#customer-chat-dashboard .ccd-loading-indicator-view span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  -webkit-animation: ccd_loading_animation 1.2s ease-in-out 0s infinite;
  animation: ccd_loading_animation 1.2s ease-in-out 0s infinite;
}

#customer-chat-dashboard .ccd-loading-indicator-view .dot-1 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

#customer-chat-dashboard .ccd-loading-indicator-view .dot-2 {
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

@-webkit-keyframes ccd_loading_animation {
  0%, 10%, 90%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes ccd_loading_animation {
  0%, 10%, 90%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform:scale(1);
    transform:scale(1);
  }
}
